@if(errorCode===0){
    <h4 class='text-danger'>Error Reaching Server</h4>
    <button class="btn btn-primary" (click)='getAllUsers()'>Retry</button>
} @else if(errorCode===401 || errorCode===403){
    <h4 class='text-danger'>Unauthorized {{errorCode}}</h4>
    <button class="btn btn-primary" (click)="navigateToLogin()">Login To See the User List</button>
} @else {

    <h2>Welcome {{currentUser?.name}}</h2>
    <p>Here is a list of other users on our system</p>
    <hr/>
    @for(user of users; track user.email){
        <p>{{user.name}}</p>
    }@empty {
        <h4 class='text-primary'>Loading...</h4>        
    }
}